$bbgcolor: brown;
$boxbgcolor: #211e1e;
$fontcolor: snow;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin size {
  font-size: clamp(1.5rem, 2vw, 3rem);
}

body {
  @include flex;
  flex-direction: column;

  background: $bbgcolor;
  color: $fontcolor;

  margin: 0;

  @include size;
}

main {
  @include flex;
  flex-direction: row;
  flex-wrap: wrap;

  background: $boxbgcolor;
  max-width: 90ch;
  .description {
    padding: 1rem;
  }
  button {
    margin: .5rem;
    @include size;
  }
}

nav {
  ul {
    display: flex;
    list-style: none;
    margin-right: 2rem;
  }
  li {
    margin-right: .5rem;
  }
}